{% extends "registration/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-t-85 p-b-20">

			{% if next %}
				{% if user.is_authenticated %}
				<p>Your account doesn't have access to this page. To proceed,
				please login with an account that has access.</p>
				{% else %}
				<p>Please login to see this page.</p>
				{% endif %}
			{% endif %}
			
			<form id="login-form" class="login100-form validate-form" method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<span class="login100-form-title p-b-70">
					Login
				</span>

				<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
					<input class="input100" type="text" name="username">
					<span class="focus-input100" data-placeholder="Username"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
					<input class="input100" type="password" name="password">
					<span class="focus-input100" data-placeholder="Password"></span>
				</div>
				{% if form.errors %}
				<p class="label label-danger">
					Your username and password didn't match.
					Please try again.
				</p>
				{% endif %}
				<div class="container-login100-form-btn">
					<input class="login100-form-btn" type="submit" value="Login" />
				</div>

				<ul class="login-more p-t-190">
					<li class="m-b-8">
						<span class="txt1">
							Forgot
						</span>

						<a href="#" class="txt2">
							Username / Password?
						</a>
					</li>

					<li>
						<span class="txt1">
							Don’t have an account?
						</span>

						<a href="/signup" class="txt2">
							Sign up
						</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>

<div id="dropDownSelect1"></div>

{% endblock %}
